<h2>Welcome <%= current_guardian.email %></h1>



<h6>Insert Profile Pic Here</h6>

<%= link_to "Edit Account", "/guardians/#{current_guardian.id}/edit" %>

<h4>Name: <%= @guardian.first_name %> <%= @guardian.last_name %></h4>
<h5>Address: <%= @guardian.address %></h5>

<!-- calendar goes here someday -->

<h3>Sign up your Student: <a href="/students/new">HERE </a></h3>

<h3>Your Child(ren)</h3>

<% current_guardian.students.each do |stud| %>
<div>
  <%= stud.first_name %>
</div>
<% end %>