

<div class="container">
  <div>Image: <%= @employee.image %></div>
  <div>First Name: <%= @employee.first_name %></div>
  <div>Last Name: <%= @employee.last_name %></div>
  <div>Bio: <%= @employee.bio %></div>
  <div>Email: <%= @employee.email %></div>
  <div>Phone Number: <%= @employee.phone %></div>
  <div>Address: <%= @employee.address_1 %></div>
  <div>Address 2: <%= @employee.address_2 %></div>
  <div>City:   <%= @employee.city %></div>
  <div> State: <%= @employee.state %></div>
  <div>Zip Code:  <%= @employee.zip %></div>

<div>

  <% if @employee.image_file_name %>
      <%= image_tag @employee.image.url(:thumbnail) %>
    <% end %>
    <%= form_for @employee, url: employee_image_path, html: {multipart: true} do |f| %>

    <%= f.file_field :image %>
    <%= submit_tag " Update" %>
    <% end %>



First Name: <%= @employee.first_name %>
Last Name: <%= @employee.last_name %>
Bio: <%= @employee.bio %>
Email: <%= @employee.email %>
Phone Number: <%= @employee.phone %>
Address: <%= @employee.address_1 %>
Address: <%= @employee.address_2 %>
        <%= @employee.city %>
        <%= @employee.state %>
        <%= @employee.zip %>
</div>
<%= link_to "Edit Profile", "/employees/#{current_employee.id}/edit" %>
</div>