

<div class="container">
  <div>Image: <%= @employee.image %></div>
  <div>First Name: <%= @employee.first_name %></div>
  <div>Last Name: <%= @employee.last_name %></div>
  <div>Bio: <%= @employee.bio %></div>
  <div>Email: <%= @employee.email %></div>
  <div>Phone Number: <%= @employee.phone %></div>
  <div>Address: <%= @employee.address_1 %></div>
  <div>Address 2: <%= @employee.address_2 %></div>
  <div>City:   <%= @employee.city %></div>
  <div> State: <%= @employee.state %></div>
  <div>Zip Code:  <%= @employee.zip %></div>
  <div><%= link_to 'Edit Profile', "/employees/#{@employee.id}/edit" %></div>

<div>
Image: <%= @employee.image %>

First Name: <%= @employee.first_name %>
Last Name: <%= @employee.last_name %>
Bio: <%= @employee.bio %>
Email: <%= @employee.email %>
Phone Number: <%= @employee.phone %>
Address: <%= @employee.address_1 %>
Address: <%= @employee.address_2 %>
        <%= @employee.city %>
        <%= @employee.state %>
        <%= @employee.zip %>
</div>
<%= link_to "Edit Profile", "/employees/#{current_employee.id}/edit" %>


<% if current_employee.user_type == "partner" %>
Add Your Company Logo
    <%= form_tag "/employees/#{current_employee.id}", method: :post do %>
      <input type="text-field" name="company_logo">
    <% end %>
        
<% end %>


  <br>
  <div>Add Your Company Logo</div>
      <%= form_tag "/employees/#{@employee.id}", method: :post do %>
      	<input type="text-field" name="company_logo">
        <input type="submit" Submit>
      <% end %>

  <br>   

  	<%= link_to 'Edit Homepage', '/home/edit' %>
</div>

    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#guardians">Guardians</a></li>
        <li><a data-toggle="tab" href="#volunteers">Volunteers</a></li>
        <li><a data-toggle="tab" href="#partners">Partners</a></li>
      </ul>

        <div class="tab-content">
            <div id="guardians" class="tab-pane fade in active">
              <h3>Guardians</h3>
              <table>
                      <tr>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Bio</th>
                          <th>Created At</th>
                          <th>Status</th>
                          <% if current_employee.user_type == "super_admin" %>
                          <th>Update User</th>
                          <th>Delete User</th>
                          <% end %>
                      </tr>
                    


                </table>
            </div>
            <div id="volunteers" class="tab-pane fade">
              <h3>Volunteers</h3>
                 <table>
                     <tr>
                         <th>First Name</th>
                         <th>Last Name</th>
                         <th>Bio</th>
                         <th>Created At</th>
                         <th>Status</th>
                         <% if current_employee.user_type == "super_admin" %>
                         <th>Update</th>
                         <th>Delete</th>
                         <% end %>
                     </tr>
                     



                 </table>
            </div>
            <div id="partners" class="tab-pane fade">
                  <h3>Partners</h3>
                  <table>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Bio</th>
                            <th>Created At</th>
                            <th>Status</th>
                            <% if current_employee.user_type == "super_admin" %>
                            <th>Update</th>
                            <th>Delete</th>
                            <% end %>
                        </tr>
                        



                    </table>
            </div>
        </div>
    </div>



