<div>
Image: <%= @employee.image %>
First Name: <%= @employee.first_name %>
Last Name: <%= @employee.last_name %>
Bio: <%= @employee.bio %>
Email: <%= @employee.email %>
Phone Number: <%= @employee.phone %>
Address: <%= @employee.address %>
        <%= @employee.city %>
        <%= @employee.state %>
        <%= @employee.zip %>
</div>
<% link_to "Edit Profile", '/employees/<%= @employee.id %>/edit' %>



<% if current_employee.user_type == "partner" %>
Add Your Company Logo
    <%= form_tag '/employees/<%= @employee.id %>' method: :post do %>
    	<input type="text-field" name="company_logo">
    <% end %>
        
<% end %>

<%= if current_employee.user_type == "employee" %>
	<%= link_to 'Edit Homepage', '/home/edit' %>
<% end %>

<%= if current_employee.user_type == "admin" %>
	<table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Bio</th>
            <th>Created At</th>
            <th>Status</th>
            <% if current_employee.user_type == "super_admin" %>
            <th>Update User</th>
            <th>Delete User</th>
            <% end %>
        </tr>
        <% @guardian_pending.each do | guardian | %>
    			<tr>
                    <td>guardian.first_name</td>
    			     <td>guardian.last_name</td>
    			     <td><%= link_to "#{guardian.first_name guardian.last_name}", "/guardians/#{guardian.id}" %></td>
    			     <td>guardian.created_at</td>
    			     <td>guardian.status</td>
                    <% if current_employee.user_type == "super_admin" %>
                    <td><%= link_to "Update", "/guardians/#{guardian.id}/edit" %></td>
                    <td><%= link to "Delete", "/guardians/#{guardian.id}", method: :destroy %></td>
                    <% end %>

                </tr>
    			<input type="Submit" name="Approve">	
    	<% end %>
    </table>

    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Bio</th>
            <th>Created At</th>
            <th>Status</th>
            <% if current_employee.user_type == "super_admin" %>
            <th>Update</th>
            <th>Delete</th>
            <% end %>
        </tr>
        <% @volunteer_pending.each do | volunteer | %>
                <tr>
                    <td>volunteer.first_name</td>
                     <td>volunteer.last_name</td>
                     <td><%= link_to '#{volunteer.first_name volunteer.last_name}', '/volunteers/#{volunteer.id}' %></td>
                     <td>volunteer.created_at</td>
                     <td>volunteer.status</td>                    
                     <% if current_employee.user_type == "super_admin" %>
                    <td><%= link_to "Update", "/volunteers/#{volunteer.id}/edit" %></td>
                    <td><%= link to "Delete", "/volunteers/#{volunteer.id}", method: :destroy %></td>
                    <% end %>
                </tr>
                <input type="Submit" name="Approve">    
        <% end %>
    </table>

    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Bio</th>
            <th>Created At</th>
            <th>Status</th>
            <% if current_employee.user_type == "super_admin" %>
            <th>Update</th>
            <th>Delete</th>
            <% end %>
        </tr>
        <% @partner_pending.each do | partner | %>
                <tr>
                    <td>partner.first_name</td>
                     <td>partner.last_name</td>
                     <td><%= link_to '#{partner.first_name partner.last_name}', '/partners/#{partner.id}' %></td>
                     <td>partner.created_at</td>
                     <td>partner.status</td>
                    <% if current_employee.user_type == "super_admin" %>
                    <td><%= link_to "Update", "/partners/#{partner.id}/edit" %></td>
                    <td><%= link to "Delete", "/partners/#{partner.id}", method: :destroy %></td>
                    <% end %>
                </tr>
                <input type="Submit" name="Approve">    
        <% end %>  
    </table>

<% end %>


