<h1>Camp Details</h1>

<section>
  <div class="row">
    <h2><%= @camp.title %></h2>
    <h2><%= @camp.address %></h2>
    <h2><%= @camp.city %></h2>
    <h2><%= @camp.state %></h2>
    <h2><%= @camp.zip %></h2>
    <h2><%= @camp.start_time %></h2>
    <h2><%= @camp.end_time %></h2>
    <h2><%= @camp.start_date %></h2>
    <h2><%= @camp.end_time %></h2>
    <h2><%= number_to_currency(@camp.price) %></h2>

  </div>
</section>
