<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

      <h2>Camp Details</h2>
      
        <h3>Title: <%= @camp.title %></h3>
        <p>Description: <%= @camp.description %></p>
        <p>Address: <%= @camp.address %></p>
        <p>City: <%= @camp.city %></p>
        <p>State: <%= @camp.state %></p>
        <p>Zip: <%= @camp.zip %></p>
        <p>Start Time: <%= @camp.start_time %></p>
        <p>End Time: <%= @camp.end_time %></p>
        <p>Start Date: <%= @camp.start_date %></p>
        <p>End Date: <%= @camp.end_date %></p>
        <p>Price: <%= @camp.price %></p>
    
      <% end %>
