<h1>Student Class List</h1>

<section>
  <div class="row">
    <h2><%= @camp.title %></h2>
    <h2><%= @camp.address %></h2>
    <h2><%= @camp.city %></h2>
    <h2><%= @camp.start_date %></h2>
    <h2><%= @camp.start_time %></h2>
    <h2><%= @student.first_name %></h2>
    <h2><%= @student.last_name %></h2>
    <h2><%= @student.birth_date %></h2>
    <h2><%= @student.gender %></h2>
    <h2><%= @student.guardian.first_name @student.guardian.last_name %></h2>
  </div>
</section>