<h1>Create a new code class</h1>

<%= form_tag "/code_classes", method: :post do %>
  <div>
    Title: <input type="text" name="title", value="<%= @CodeClass.title %>">
  </div>
  <div>
    Description: <input type="text" name="description", value="<%= @CodeClass.description %>">
  </div>
  <div> 
    Maximum number of students: <input type="integer" name="max_students", value="<%= @CodeClass.max_students %>">
  </div>
  <div>
    Minimum number of students: <input type="integer" name="min_students", value="<%= @CodeClass.min_students %>">
  </div>
  <div>
    Address: <input type="text" name="address", value="<%= @CodeClass.address %>">
  </div>
  <div>
    City: <input type="text" name="city", value="<%= @CodeClass.city %>">
  </div>
  <div>
    State: <input type="text" name="state", value="<%= @CodeClass.state %>">
  </div>
  <div>
    Zip: <input type="integer" name="zip", value="<%= @CodeClass.zip %>">
  </div>
  <div>
    Phone: <input type="text" name="phone", value="<%= @CodeClass.phone %>">
  </div>
  <div>
    Employee ID: <input type="integer" name="employee_id", value="<%= @CodeClass.employee_id %>">
  </div>
  <div>
    Start Time: <input type="text" name="start_time", value="<%= @CodeClass.start_time %>">
  </div>
  <div>
    End Time: <input type="text" name="end_time", value="<%= @CodeClass.end_time %>">
  </div>
  <div>
    Start Date: <input type="text" name="start_date", value="<%= @CodeClass.start_date %>">
  </div>
  <div>
    End Date: <input type="text" name="end_date", value="<%= @CodeClass.end_date %>">
  </div>
  <div>
    Price: <input type="decimal" name="price", value="<%= @CodeClass.price %>">
  </div>

  <input type="Submit" value="Create New Code Class">

<% end %>