<ul>
  <% if guardian_signed_in? %>
    <li>
      <%= link_to "Sign Out", destroy_guardian_session_path, method: :delete %>
    </li>
   <% elsif employee_signed_in? %> 
    <li>
      <%= link_to "Sign Out", destroy_employee_session_path, method: :delete %>
    </li>
  <% else %>
    <li>
      <%= link_to "Sign Guardian In", new_guardian_session_path %>
    </li>
    <li>
      <%= link_to "Sign Employee In", new_employee_session_path %>
      
    </li>

    <li>
      <%= link_to "sign up employee", new_employee_registration_path %>
    </li>

    <li>
      <%= link_to "sign up guardian", new_guardian_registration_path %>
    </li>
  <% end %>
</ul>

<h2>WE’RE THE CHARITY THAT INSPIRES</h2>
<h4>As a 501(c)(3) corporation, we are filling the gap existing between a young dreamer and his/her ability as a young achiever. Our team brings every child the platform to innovate and showcase his/her success as a contribution to his/her community.</h4>
<p>Our team is the “Child Inspirer.” We are parents, teachers, young professionals and college students who believe a generous listening to a child’s dream inspires her innate creativity. Our devotion is for every young dreamer, ages 9-12, worldwide; to express her imagination; to utilize his innate creativity; to be passionate about achieving her personal success. We bring to a primary school pupil the platform to express imaginations, create ideas and showcase innovations.</p>

<h2>OUR CAUSE IS FOR</h2>
<ul>
  <li>No Child growing up hiding his dream!</li>
  <li>No Child having someone choice for her, her dream!</li>
  <li>No Child having her dream unnoticed and lost!</li>
</ul>
<p>We can no longer afford the waste and loss of the individual creativity of young dreamers in our communities. We’re committed to supporting their primary education to be an inspiring experience, so that every young dreamer is becoming a young innovator.</p>
<p>Our goal is to bring to every child’s unnoticed dream, an audience that inspires confidence, resourcefulness and leadership.</p>

<h2>THE ACTIVITY</h2>
<p>Our Creativity Challenge Camp program is a platform for a young dreamer to exercise the use of his creative power in building his impossible imagination without being stopped by all encountered failures, but rather to accomplish his personal success. This program, an introductory 8-session event, provides the kick-start needed for a child to begin taking immediate actions, and developing generous and steadfast habits that achieve success.</p>

